
<div class="d-flex justify-content-center align-items-center vh-100">
 <form class="row g-3 needs-validation custom-width" [formGroup]="registrationForm" (ngSubmit)="register()" novalidate>
    <div class="mb-3">
      <label for="validationName" class="form-label">First name</label>
      <input type="text" class="form-control" id="validationName" formControlName="name" required>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please enter first name.
      </div>
    </div>
    <div class="mb-3">
      <label for="validationSurname" class="form-label">Last name</label>
      <input type="text" class="form-control" id="validationSurname" formControlName="surname" required>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please enter last name.
      </div>
    </div>
    <div class="mb-3">
      <label for="validationEmail" class="form-label">Email</label>
      <div class="input-group has-validation">
        <input type="email" class="form-control" id="validationEmail" formControlName="email" required placeholder="example@gmail.com"
        pattern='[a-zA-Z0-9.*%±]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,}'>
        <div class="valid-feedback">
            Looks good!
          </div>
        <div class="invalid-feedback">
          Email must be in format 'example@gmail.com'.
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="validationPassword" class="form-label">Password</label>
      <input type="password" class="form-control"
        id="validationPassword"
        formControlName="password"
        minlength="6"
        required>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Password length must be 6 characters.
      </div>
    </div>
    
    <div class="mb-3">
      <label for="validationConfirmPassword" class="form-label">
        Confirm Password
      </label>
      <input type="password" 
        class="form-control" 
        id="validationConfirmPassword" 
        formControlName="passwordConfirmation" 
        required 
        [ngClass]="{
          'is-invalid': registrationForm.hasError('passwordMismatch') && registrationForm.get('passwordConfirmation')?.touched,
          'is-valid': !registrationForm.hasError('passwordMismatch') && registrationForm.get('passwordConfirmation')?.touched && registrationForm.get('password')?.value === registrationForm.get('passwordConfirmation')?.value
        }">
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback" *ngIf="registrationForm.hasError('passwordMismatch') && registrationForm.get('passwordConfirmation')?.touched">
        Passwords do not match.
      </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="validationGender">Gender</label>
        <div class="d-flex flex-column ms-3">
          <div class="form-check form-check-inline">
            <input class="form-check-input mt-2" type="radio" name="gender" id="male" value="male" formControlName="gender" required>
            <label class="form-check-label border p-2 rounded me-2" for="male">
              Male
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input mt-2" type="radio" name="gender" id="female" value="female" formControlName="gender" required>
            <label class="form-check-label border p-2 rounded me-2" for="female">
              Female
            </label>
          </div>
        </div>
        <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please select a valid gender.
          </div>
      </div>
      
    <div class="mb-3">
        <label for="validationPhoneNumber" class="form-label">Phone</label>
        <input type="text" class="form-control" formControlName="phoneNumber" pattern="[0-9]+" required>
        <div class="valid-feedback">
            Looks good!
          </div>
        <div class="invalid-feedback">
          Phone must contain only numbers!
        </div>
    </div>
    <div class="mb-3">
        <label for="validationAddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="validationCustom03" formControlName="address" placeholder="Street 42, City" 
        pattern='^[a-zA-ZšđčćžŠĐČĆŽ\s]+ \d+, [a-zA-ZšđčćžŠĐČĆŽ\s]+$' required>
        <div class="valid-feedback">
            Looks good!
          </div>
        <div class="invalid-feedback">
          Please provide a valid address. Example: Street 42, City.
        </div>
    </div>
    <div class="mb-3">
        <label for="validationBirthDate" class="form-label">Birth Date</label>
        <input type="date" class="form-control" id="validationCustom03" formControlName="birthDate" required>
        <div class="valid-feedback">
            Looks good!
          </div>
        <div class="invalid-feedback">
          Please provide a valid birth date.
        </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Register</button>
    </div>
  </form>
</div>