<nav class="navbar navbar-expand-lg navbar-light sticky-top  bg-light" style="background-color: #a3d7e9; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
  <a class="navbar-brand" href="#" style="margin-left: 20px;">
    <img src="https://online.gspns.rs/sr/fileGetter/logo/JGSP-Novi-Sad-logo-2.jpg" alt="jgsp" width="90" height="30">
  </a>
    <ul class="navbar-nav mx-auto d-flex justify-content-center">
      <li class="nav-item dropdown" *ngIf="(user && user.role == 0) || (employee && employee.employeeRole === 3)">
        <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Tickets
        </a>
        <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
          <li *ngIf="user && user.role == 0 && user.email.trim().length > 0"><a class="dropdown-item" [routerLink]="['all-purchased-tickets']">Purchased Tickets</a></li>
          <li *ngIf="employee && employee.employeeRole === 3"><a class="dropdown-item" [routerLink]="['create-nonpersonalized-ticket']">Create Non-Personalized Ticket</a></li>
          <li *ngIf="employee && employee.employeeRole === 3"><a class="dropdown-item" [routerLink]="['create-personalized-ticket']">Create Personalized Ticket</a></li>
          <li *ngIf="user && user.role == 0 && user.email.trim().length > 0"><a class="dropdown-item" [routerLink]="['all-personalized-ticket-requests']">All Personalized Ticket requests</a></li>
        </ul>
      </li>
      <li class="nav-item" *ngIf="user && user.role == 0 && user.email.trim().length > 0">
        <a class="nav-link" (click)="getWalletByCustomerId()" style="cursor: pointer;">Wallet</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Transport Lines</a>
      </li>
      <li class="nav-item" *ngIf="user && user.role === 1">
        <a class="nav-link" href="/all-buses">Buses</a>
      </li>
      <li class="nav-item" *ngIf="employee && employee.employeeRole == 3 && user.email.trim().length > 0">
        <a class="nav-link" href="/register">Register Employee</a>
      </li>
    </ul>
  <ul class="navbar-nav" style="margin-right: 20px;">
    <li class="nav-item" *ngIf="user && user.role == 0 && user.email !== ''">
      <a class="nav-link"  href="/customer-profile">Profile</a>
    </li>
    <li class="nav-item" *ngIf="user && user.role == 1 && user.email !== ''">
      <a class="nav-link"  href="/employee-profile">Profile</a>
    </li>
    <li class="nav-item" *ngIf="user && user.email === ''">
      <a class="nav-link" style="background-color: #4682B4; color: white; width:100%; border: none; border-radius: 5px; padding: 8px 17px; font-size: 16px;" href="/login">Login</a>
    </li>
    <li class="nav-item" *ngIf="user && user.email !== ''">
      <a class="nav-link" (click)="onLogout()" style="background-color: #4682B4; color: white; width:100%; border: none; border-radius: 5px; padding: 8px 17px; font-size: 16px; cursor: pointer;">Logout</a>
    </li>
  </ul>
</nav>