<div class="d-flex justify-content-center align-items-center mt-5 mb-5 flex-column">
    <h3 class="text-center mb-4" style="color: #4682B4;">Wallet Creation</h3>
    <div class="card shadow-lg p-4 custom-width border" style="border-radius: 10px; background-color: #f7f9fc;">
      <form class="row g-3 needs-validation" id="createWalletForm" [formGroup]="walletRegistrationForm" (ngSubmit)="createWallet()" novalidate>
          <div class="mb-2">
              <label for="bankAccount" class="form-label">Bank Account</label>
              <input type="text" class="form-control" id="bankAccount" pattern="^\d{3}-\d{13}-\d{2}$" formControlName="bankAccount" required>
              <div class="valid-feedback">
                  Looks good!
              </div>
              <div class="invalid-feedback">
                  Please enter valid bank account. 
                  Example: 205-1234567891234-23.
              </div>
          </div>
          <div class="mb-2">
              <label for="currency" class="form-label">Currency</label>
              <input type="text" class="form-control" id="currency" formControlName="currency">
          </div>
          <div class="col-12 text-center">
            <button class="btn mt-3" id="createButton" type="submit" style="background-color: #4682B4; color: white; width:75%; border: none; border-radius: 5px; padding: 10px 20px; font-size: 16px;">Create</button>
        </div>
      </form>
  </div>
</div>