<div class="d-flex justify-content-center align-items-center mt-5 mb-5 flex-column">
    <h3 class="text-center mb-4" style="color: #4682B4;">Bus Creation</h3>
    <div class="card shadow-lg p-4 custom-width border" style="border-radius: 10px; background-color: #f7f9fc;">
      <form class="row g-3 needs-validation" [formGroup]="busRegistrationForm" (ngSubmit)="createBus()" novalidate>
          <div class="mb-2">
              <label for="garageNumber" class="form-label">Garage Number</label>
              <input type="text" class="form-control" id="garageNumber" formControlName="garageNumber" pattern="[0-9]+" required>
              <div class="valid-feedback">
                  Looks good!
              </div>
              <div class="invalid-feedback">
                Garage number must consist of numbers only!
              </div>
          </div>
          <div class="mb-2">
              <label for="licencePlate" class="form-label">Licence Plate</label>
              <input type="text" class="form-control" id="licencePlate" formControlName="licencePlate" required>
              <div class="valid-feedback">
                  Looks good!
              </div>
              <div class="invalid-feedback">
                  Please enter bus licence plate.
              </div>
          </div>
          <div class="mb-2">
              <label for="busBrand" class="form-label">Bus Brand</label>
              <div class="input-group has-validation">
                  <input type="text" class="form-control" id="busBrand" formControlName="busBrand" required>
                  <div class="valid-feedback">
                      Looks good!
                  </div>
                  <div class="invalid-feedback">
                      Please enter bus brand.
                  </div>
              </div>
          </div>
          <div class="mb-2">
              <label for="yearOfProduction" class="form-label">Year Of Production</label>
              <input type="text" class="form-control" formControlName="yearOfProduction" pattern="[0-9]+" maxlength="4" required>
              <div class="valid-feedback">
                  Looks good!
              </div>
              <div class="invalid-feedback">
                  Year Of Production must consist of numbers only!
              </div>
          </div>
          <div class="mb-2">
            <label for="arrivalDate" class="form-label">Arrival Date</label>
            <input type="date" class="form-control" id="arrivalDate" formControlName="arrivalDate" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please provide a valid bus arrival date.
            </div>
        </div>
          <div class="col-12 text-center">
            <button class="btn mt-3" id="createButton" type="submit" style="background-color: #4682B4; color: white; width:75%; border: none; border-radius: 5px; padding: 10px 20px; font-size: 16px;">Create</button>
        </div>
      </form>
  </div>
</div>