<div class="container mt-4">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <img src="assets/pictures/buses-cover-wide.jpg" class="img-fluid" alt="Bus Image" 
                 style="height: 300px; width:1000px; object-fit: cover; opacity: 0.7;">
        </div>
    </div>
    <div class="row">
        <div class="col-5">
          <h1 class="mt-3" style="color: #396b94; width: 100%; max-width: 520px; margin-left:28%">{{bus.licencePlate}}</h1>
        </div>
        <div class="col-1" style="margin-left:39.5%">
          <button class="btn btn-light mt-4" *ngIf="employee && employee.employeeRole == 2" style="border-color: #396b94; color: #396b94;"
          data-bs-toggle="modal" data-bs-target="#editBusModal">
            <span class="me-2">Edit</span>
            <i class="bi bi-pencil-fill" style="color: #396b94;"></i>
          </button>
        </div>
    </div>
    <div class="row mt-4" style="margin-left:11.5%">
        <ul class="nav nav-underline">
            <li class="nav-item">
              <a class="nav-link active" [class.active]="selectedNavItem === 'info'" (click)="showInfo()" style="color: #396b94; cursor: pointer;">Bus Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [class.active]="selectedNavItem === 'drivers'" (click)="showDrivers()" style="color: #396b94; cursor: pointer;">Drivers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [class.active]="selectedNavItem === 'lines'" (click)="showLines()" style="color: #396b94; cursor: pointer;">Lines</a>
            </li>
          </ul>
    </div>
    <div class="content-container mt-4" style="margin-left:11.5%">
        <div *ngIf="selectedNavItem === 'info'">
            <div class="row">
                <div class="col-12 mb-2">
                    <div class="card mb-3" style="border-color: #4682B4; border-width: 2px; max-width: 240px;">
                        <div class="card-body">
                            <div class="text-body-secondary fw-normal fs-7" *ngIf="selectedNavItem === 'info'" style="color: #396b94;">
                                <span class="fw-bold">Garage Number • </span> {{bus.garageNumber}}
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3" style="border-color: #4682B4; border-width: 2px; max-width: 270px;">
                        <div class="card-body">
                            <div class="text-body-secondary fw-normal fs-7" *ngIf="selectedNavItem === 'info'">
                                <span class="fw-bold">Bus Brand • </span> {{bus.busBrand}}
                            </div>
                        </div>
                    </div>
                    <div class="card" style="border-color: #4682B4; border-width: 2px; max-width: 300px;">
                        <div class="card-body">
                            <div class="text-body-secondary fw-normal fs-7" *ngIf="selectedNavItem === 'info'">
                                <span class="fw-bold">Year of Production • </span> {{bus.yearOfProduction}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="selectedNavItem === 'drivers'" class="row" style="margin-left:0.5%">
            <div class="row" *ngIf="employee && employee.employeeRole == 2">
              <div class="col-12 d-flex mb-3" style="margin-left:77%">
                <button type="button" class="btn" style="background-color: #4682B4; color: white; width:10%; border: none; border-radius: 5px; padding: 8px 17px; font-size: 16px;" 
                        data-bs-toggle="modal" data-bs-target="#addDriverModal" (click)="resetForm()">
                    Add Driver
                </button>
              </div>
            </div>
            <div class="row" style="width: 1010px;">
              <table class="table border-top-color: 2px solid #396b94;">
                <thead class="table-header">
                  <tr>
                    <th scope="col" class="index-column">•</th>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Email</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Birth Date</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Address</th>
                    <th scope="col">Educational Background</th>
                  </tr>
                </thead>
                <tbody class="table-body table-group-divider">
                  <tr *ngFor="let driver of bus.employees; let i = index">
                    <th scope="row" class="index-column">{{ i + 1 }}</th>
                    <td>{{ driver.name }}</td>
                    <td>{{ driver.surname }}</td>
                    <td>{{ driver.email}}</td>
                    <td>{{ toGenderEnum(driver.gender)}}</td>
                    <td>{{ driver.birthDate | date: 'mediumDate' }}</td>
                    <td>{{ driver.phoneNumber}}</td>
                    <td>{{ driver.address}}</td>
                    <td>{{ driver.educationalBackground}}</td>
                    <td>
                      <button class="btn btn-light btn-outline-secondary"     
                      (click)="openDeleteModal(driver)"
                      data-bs-toggle="modal" 
                      data-bs-target="#deleteConfirmationModal"><i class="bi bi-trash3"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
        <div *ngIf="selectedNavItem === 'lines'" class="row" style="margin-left:0.5%">
          <div class="row" style="width: 1010px;">
            <table class="table border-top-color: 2px solid #396b94;">
              <thead class="table-header">
                <tr>
                  <th scope="col" class="index-column">•</th>
                  <th scope="col">Name</th>
                  <th scope="col">Type</th>
                  <th scope="col">Length</th>
                  <th scope="col">Time</th>
                </tr>
              </thead>
              <tbody class="table-body table-group-divider">
                <tr *ngFor="let line of lines; let i = index">
                  <th scope="row" class="index-column">{{ i + 1 }}</th>
                  <td>{{ line.name }}</td>
                  <td>{{ toLineTypeString(line.lineType)}}</td>
                  <td>{{ line.length }} km</td>
                  <td>{{ line.time}} min</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
</div>

<div class="modal fade" id="addDriverModal" tabindex="-1" aria-labelledby="addDriverModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h3 class="modal-title" id="addDriverModalLabel" style="color: #396b94; width: 100%; max-width: 520px;">Add new driver</h3>
              <button type="button" class="btn-close" #closebutton data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form [formGroup]="driverForm" class="needs-validation"  novalidate>
                <div class="mb-3 position-relative">
                  <label for="location" class="form-label">Select Driver:</label>
                  <select id="location" class="form-control"
                          (change)="onDriverSelect($event)" formControlName="driverId"
                           required>
                    <option value="" disabled selected>Select a driver</option>
                    <option *ngFor="let driver of drivers" [value]="driver.id">
                      {{ driver.name }} {{ driver.surname }}, {{ driver.email }}
                    </option>
                  </select>

                  <div class="invalid-feedback">
                   Please select a driver.
                  </div>
                </div>
                
                  <div class="modal-footer me-4 justify-content-center">
                    <button type="submit" id="closeModal" class="btn" style="background-color: #4682B4; color: white; width:55%; border: none; border-radius: 5px; padding: 8px 17px; font-size: 16px;" 
                     (click)="validateForm($event)">
                        Submit
                    </button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmationModalLabel" style="color: #396b94; width: 100%; max-width: 520px;">Confirm delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete <strong>{{ selectedDriverForDeletionName }}</strong>?</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary" (click)="deleteDriver()" data-bs-dismiss="modal"
        style="background-color: #4682B4; color: white; width:55%; border: none; border-radius: 5px; padding: 8px 17px; font-size: 16px;">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editBusModal" tabindex="-1" aria-labelledby="editBusModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h3 class="modal-title" id="editBusModalLabel" style="color: #396b94; width: 100%; max-width: 520px;">Edit bus</h3>
              <button type="button" class="btn-close" #closeEditButton data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form [formGroup]="busForm" id ="editBusForm" class="needs-validation"  novalidate>
                <div class="mb-2">
                  <label for="garageNumber" class="form-label">Garage Number</label>
                  <input type="text" [(ngModel)]="bus.garageNumber" class="form-control" id="garageNumber" formControlName="garageNumber" required>
                  <div class="valid-feedback">
                      Looks good!
                  </div>
                  <div class="invalid-feedback">
                      Please enter garage number.
                  </div>
              </div>
              <div class="mb-2">
                  <label for="licencePlate" class="form-label">Licence Plate</label>
                  <input type="text" [(ngModel)]="bus.licencePlate" class="form-control" id="licencePlate" formControlName="licencePlate" required>
                  <div class="valid-feedback">
                      Looks good!
                  </div>
                  <div class="invalid-feedback">
                      Please enter bus licence plate.
                  </div>
              </div>
              <div class="mb-2">
                  <label for="busBrand" class="form-label">Bus Brand</label>
                  <div class="input-group has-validation">
                      <input type="text" [(ngModel)]="bus.busBrand" class="form-control" id="busBrand" formControlName="busBrand" required>
                      <div class="valid-feedback">
                          Looks good!
                      </div>
                      <div class="invalid-feedback">
                          Please enter bus brand.
                      </div>
                  </div>
              </div>
              <div class="mb-2">
                  <label for="yearOfProduction" class="form-label">Year Of Production</label>
                  <input type="text" [(ngModel)]="bus.yearOfProduction" class="form-control" formControlName="yearOfProduction" pattern="[0-9]+" maxlength="4" required>
                  <div class="valid-feedback">
                      Looks good!
                  </div>
                  <div class="invalid-feedback">
                      Year Of Production must contain only numbers!
                  </div>
              </div>
              <div class="mb-2">
                <label for="arrivalDate" class="form-label">Arrival Date</label>
                <input type="date" class="form-control" id="arrivalDate" formControlName="arrivalDate" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a valid bus arrival date.
                </div>
            </div>
                
                  <div class="modal-footer me-4 justify-content-center">
                    <button type="submit" id="closeEditModal" class="btn" style="background-color: #4682B4; color: white; width:55%; border: none; border-radius: 5px; padding: 8px 17px; font-size: 16px;" 
                     (click)="validateEditForm($event)">
                        Submit
                    </button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>